.logo {
    width: 130px;
}

.logaut .log-in {
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.log-in i {
    margin-right: 5px;
}

.reg {
    border-radius: 5px;
    font-size: 20px;
}

.reg i {
    margin-right: 5px;
}

.bg_image {
    position: relative;
    background-size: 130%;
    background-repeat: no-repeat;
    box-shadow: 0px 160px 100px 10px #030812 inset;
    z-index: 1;
}
.bg_image::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg-2-ver.jpg);
    box-shadow: 0px -1400px 450px 0px #030812 inset;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

.searh {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    border-radius: 0px 5px 5px 0;
}

.box-search form {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form {
    overflow: hidden;
    border: 0;
}

.form-control {
    border: 0;
}

.form-control::placeholder {
    background-color: transparent;
}

.form input {
    background-color: transparent;
}

.bloc {
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: #03081225 0px 0px 5px 2px;
}

.bloc h3 {
    font-weight: bold;
}
.bloc p {
    margin-top: 20px;
}

.bloc i {
    font-size: 40px;
    margin-bottom: 10px;
}

.circl {
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 0) 0%,
        rgba(227, 30, 37, 0.616) 200%
    );
    box-shadow: 0 -15px 20px #e31e25;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: inherit;
    left: 38%;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.servicii {
    background-color: rgba(255, 255, 255, 0.033);
    backdrop-filter: blur(60px);
    background: radial-gradient(60deg,);
    color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: #030812 -60px -40px 80px 0 inset;
    position: relative;
    max-width: 400px;
}

.frimeworck {
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 20px;   
}

.shad{
    box-shadow: 0 -15px 20px #e31e25;
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 0) 0%,
        rgba(227, 30, 37, 0.616) 200%
    );
    border-radius: 50%; 
    width: 130px;
    height: 130px;
    position: inherit;
    left: 34%;
}

.swiper{
    width: 100%;
}

.swiper-slide {
    height: 150px;
    background-color: rgba(255, 255, 255, 0.033);
    line-height: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: #030812 -60px -40px 80px 0 inset;
  }

  .swiper-slide:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.033);


  }

  .swiper-slide:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.033);

  }

  .swiper-slide:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.033);

  }

  .swiper-slide:nth-child(5) {
    background-color: rgba(255, 255, 255, 0.033);

  }

  .swiper-slide i{
    color: rgb(201, 200, 200);
    font-size: 80px;
  }

  .swiper-slide p{
    color: rgb(201, 200, 200);
    font-size: 70px;
  }

  .cont-jos{
    border-top: gray 1px solid;
  }

  @media (max-width: 1200px) {
    .form input {
        background-color: transparent;
        width: 180px;
    }

    .logaut .log-in{
        font-size: 16px;
    }

    .logaut .reg{
        font-size: 16px;
    }

    .bg_image {
        position: relative;
        background-size: 130%;
        background-repeat: no-repeat;
        box-shadow: 0px 160px 100px 10px #030812 inset;
        z-index: 1;
    }
    .bg_image::before {
        content: "";
        position: absolute;
        top: -200px;
        left: 0px;
        right: 0;
        bottom: 0;
        background-image: url(../images/bg-2-ver.jpg);
        /* box-shadow: 0px -1350px 550px 0px #030812 inset; */
        background-size: 150%;
        background-repeat: no-repeat;
        opacity: 0.6;
        z-index: -1;
    }

    .bloc H3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .circl{
        left: 32%;
    }

    .frimeworck{
        font-size: 40px;
    }

    .shad{
        width: 80px;
        height: 80px;
    }

    .swiper-slide p{
        font-size: 50px;
    }
   }

   @media (max-width: 991.98px) { 
        .contentservice{
            display: block !important;
        }

        /* .catalog{
            display: block !important;
        } */

        .servicii{
            max-height: 350px;
            height: 100%;
        }

        .servicii h4{
            font-size: 20px;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .servicii p{
            font-size: 13px;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    @media (max-width: 767.98px) { 

        .bg_image {
            position: relative;
            background-size: 130%;
            background-repeat: no-repeat;
            box-shadow: 0px 160px 100px 10px #030812 inset;
            z-index: 1;
        }
        .bg_image::before {
            content: "";
            position: absolute;
            top: -200px;
            left: 0px;
            right: 0;
            bottom: 0;
            background-image: url(../images/bg-2-ver.jpg);
            box-shadow: 0px -3250px 450px 0px #030812 inset;
            background-size: 150%;
            background-repeat: no-repeat;
            opacity: 0.6;
            z-index: -1;
        }

        .service-bloc{
            display: block !important;
        }

        .bloc{
            left: 6%;
            width: 90%;
            margin-top: 20px;
        }


        .circl{
            left: 43%;
        }

        .contentservice{
            position: relative;
        }
        .catalog{
            display: block !important;
            left: 10%;
            position: inherit;
        }

        .servicii{
            width: 100%;
        }
     }
  /* ------------- */

  .big-map {
    position: relative;
    width: 100%;
    height: 100vh;
}

.big-map iframe {
    width: 100%;
    height: 745px;
    border: 0;
}

.contact-form-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: rgba(26, 26, 26, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.contact-form-container h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background: rgba(26, 26, 26, 0.9);
    border-radius: 4px;
    font-size: 16px;
}

.contact-form-container button {
    padding: 12px;
    border: none;
    background-color: #e31e25;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

.contact-form-container button:hover {
    background-color: black;
}